body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5dc; 
}

nav {
    width: 100%;
    padding: 10px 0;
    background-color:#333;
}

.nav-content {
    padding: 0 20px;
    margin: auto;
    display: flex;
    justify-content: space-between; /* Aligns content to the right */
  
}
.home-button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.saved-recipes-button{
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.search-container {
    display: inline-block;
}

#search-input, #search-button {
    padding: 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;


}
#search-button {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   
#results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    background-color: #f5f5dc; 
}
.heart{
    cursor: pointer;
    border-color: black;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    
    display: inline-block; 
    padding: 5px; 
    margin-left: 5px; 

}
.card {
    width: calc(33.33% - 20px); /* Adjusts width to fit 4 cards per row accounting for gap */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
}

.result-card-content {
    padding: 15px;
}

.result-card img {
    width: 100%; /* Ensures the image fills the card width */
    height: auto; /* Maintains aspect ratio */
}

@media screen and (max-width: 768px) {
    .result-card {
        width: calc(50% - 20px); /* Display 2 cards per row on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .result-card {
        width: 100%; /* 1 card per row on very small screens */
    }
}
