body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* Beige background for a cozy feel */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.home-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* A friendly green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #45a049;
}

.content {
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #333;
}

p {
    margin: 20px auto;
    color: #666;
}

#search-form {
    margin-top: 20px;
}

#search-input {
    padding: 10px;
    width: 70%;
    margin-right: -4px; /* Ensures no gap between input and button */
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #008cba;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
}

#search-button:hover {
    background-color: #007ba7;
}
