body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5dc; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color:#333;
    
}

.saved-recipes-button{
    padding: 10px 20px;
    background-color:#ddd;
    color: #666;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px; 

}
.home-button {
    padding: 10px 20px;
    background-color: #ddd;
    color:#666;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #45a049;
}
.background{
    background-image: url('../assets/gifs/animeFood.gif');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    position: relative;
}
.content {
    position:absolute;
  
    
    width: 100%;
    margin: auto;
}

h1 {
    color: #333;
}

p {
    margin: 20px auto;
    color: #666;
}

#search-form {
    margin-top: 20px;
}

#search-input {
    padding: 10px;
    width: 70%;
    margin-right: -4px; 
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #008cba;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0; 
}

#search-button:hover {
    background-color: #007ba7;
}
